<table id=tableaux>
  <th>
</th>
  <tbody>
    <tr class="fret">
      <td class="fun"></td>
      <td class="fun"></td>
      <td class="fun"></td>
      <td class="fun"></td>
      <!-- <td class="fun"></td> -->
    </tr>
    <tr class="fret">
      <td class="fun"></td>
      <td class="fun"></td>
      <td class="fun"></td>
      <td class="fun"></td>
      <!-- <td class="fun"></td> -->
    </tr>
    <tr class="fret">
      <td class="fun"></td>
      <td class="fun"></td>
      <td class="fun"></td>
      <td class="fun"></td>
      <!-- <td class="fun"></td> -->
    </tr>
    <tr class="fret">
      <td class="fun"></td>
      <td class="fun"></td>
      <td class="fun"></td>
      <td class="fun"></td>
      <!-- <td class="fun"></td> -->
    </tr>
  </tbody>
</table>






  <div id="stringContainer">
      <div id="string5"class="shake-little" ng-mouseover="play(tuning,chord,'five')" class="col s2"></div>
      <div id="string4"class="shake-little" ng-mouseover="play(tuning,chord,'four')" class="col s2"></div>
      <div id="string3"class="shake-little" ng-mouseover="play(tuning,chord,'three')" class="col s2"></div>
      <div id="string2"class="shake-little" ng-mouseover="play(tuning,chord,'two')" class="col s2"></div>
      <div id="string1"class="shake-little" ng-mouseover="play(tuning,chord,'one')" class="col s2"></div>
      <div id="string6"></div>
    </div>



<div audio options="options"></div>
<div>
  <h5>Pick a tuning</h5>
  <select ng-model='tuning' name="Tuning" id="">
  <option value="tunings.GM">G major</option>
  <option value="tunings.Gm">G minor</option>
  <option value="tunings.C">Open C</option>
  <option value="tunings.DblC">Double C</option>
  <option value="tunings.Gmod">G modal</option>
  </select>
</div>
<div>
  <h5>Pick a chord</h5>
  <select ng-model="chord" name="chord" id="chord">
  <option  ng-value="G">G</option>
  <option  ng-value="Gm">Gm</option>
  <option  ng-value="A">A</option>
  <option  ng-value="Am">Am</option>
  <option  ng-value="B">B</option>
  <option  ng-value="Bm">Bm</option>
  <option  ng-value="Bm7">Bm7</option>
  <!-- <option value="tunings.C">Open C</option>
  <option value="tunings.DblC">Double C</option>
  <option value="tunings.Gmod">G modal</option> -->
  </select>
</div>
