<!DOCTYPE html>
<html ng-app="banjoman">
<head>
<!-- JQUERY -->
  <!-- Font Awesosme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.grey-red.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700|Open+Sans' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- ngAudio -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-audio/1.7.2/angular.audio.min.js">

  </script>
  <!-- ngAudio -->
  <!-- <script src="../bower_components/ng-audio/src/public/javascripts/ng-audio.js"</script>
  <link rel="stylesheet" href="../bower_components/src/public/stylesheets/ng-audio.css" media="screen" title="no title" charset="utf-8"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <!-- ngAnimate -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <!-- uiRouter -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
  <!-- Module -->
  <script type="text/javascript" src="../javascripts/module.js"></script>
  <!-- home directive -->
  <script src ="../components/home/home.js"></script>
  <!-- services -->
  <script src ="../services/string_service.js"></script>

<!-- pixi.js -->
<script src="../bower_components/pixi.js/bin/pixi.min.js"></script>
<!-- csshake -->
<link rel="stylesheet" href="../bower_components/csshake/dist/csshake-little.min.css"/>
<link rel="stylesheet" href="../bower_components/csshake/scss/csshake-little.scss"/>


</script>
<!-- audiocontext-polyfill -->
<!-- <script src="../bower_components/audiocontext-polyfill/audiocontext-polyfill.js"> -->

</script>
  <!-- webaudiox -->
  <!-- <script src="../bower_components/audiocontext-polyfill/audiocontext-polyfill.js"></script>
  <script src="../bower_components/webaudiox/build/webaudiox.js"></script> -->
  <!-- noteplayer -->
  <!-- <script src="../node_modules/noteplayer/lib/notePlayer.js"></script> -->
<!-- midi audio -->
<!-- <script src="../bower_components/midi/js/midi/audioDetect.js"></script>
<script src="../bower_components/midi/js/midi/gm.js"></script>
<script src="../bower_components/midi/js/midi/loader.js"></script>
<script src="../bower_components/midi/js/midi/player.js"></script>
<script src="../bower_components/midi/js/midi/plugin.audiotag.js"></script>
<script src="../bower_components/midi/js/midi/plugin.webaudio.js"></script>
<script src="../bower_components/midi/js/midi/plugin.webmidi.js"></script>
<script src="../bower_components/midi/js/midi/synesthesia.js"></script> -->

<!-- tone.js -->
<!-- <script src="../bower_components/tone/build/Tone.js"></script> -->
<!-- harmonics and strings -->
<!-- <script src="https://gweb-musiclab-site.appspot.com/static/js/Tone.min.js"></script>
<script src="../harmonics_and_strings/js/third-party/StartAudioContext.js"></script>
<script src="../harmonics_and_strings/js/Harmonic.js"></script>
<script src="../harmonics_and_strings/js/HarmonicController.js"></script>
<script src="../harmonics_and_strings/js/Thread.js"></script>
<script src="../harmonics_and_strings/js/ThreadGrabber.js"></script>
<script src="../harmonics_and_strings/js/ThreadController.js"></script>
<script src="../harmonics_and_strings/js/index.js"></script> -->


</head>
<body>



  <ui-view></ui-view>




<script type="text/javascript">

</script>

</body>
</html>
