<!DOCTYPE html>
<html ng-app="banjoman">
<head>
  <meta name="viewport" content="width=device-width">
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <!-- ngAudio -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-audio/1.7.2/angular.audio.min.js"></script>
  <!-- createJS -->
  <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
  <!-- ngAnimate -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <!-- uiRouter -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
  <!-- Module -->
  <script type="text/javascript" src="../javascripts/module.js"></script>
  <!-- home directive -->
  <script src ="../components/home/home.js"></script>
  <!-- chord directive -->
  <script src ="../components/chords/chords.js"></script>
  <!-- services -->
  <script src ="../services/string_service.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="../stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  <!-- csshake -->
  <link rel="stylesheet" href="../bower_components/csshake/dist/csshake-little.min.css"/>
  <link rel="stylesheet" href="../bower_components/csshake/scss/csshake-little.scss"/>
<!-- quicksand-font -->
<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700|Open+Sans' rel='stylesheet' type='text/css' >
</head>
<body
ng-keypress="
$event.which === 59 && play(tuning,chord,'one');
$event.which === 108 && play(tuning,chord,'two');
$event.which === 107 && play(tuning,chord,'three');
$event.which === 106 && play(tuning,chord,'four');
$event.which === 32 && play(tuning,chord,'five');
$event.which === 49 && fingerChange('G') && chordChange('G');
$event.which === 113 && fingerChange('Gm');
$event.which ===50 && fingerChange('A')&& chordChange('A');
$event.which ===119 &&fingerChange('Am');
$event.which ===51 &&fingerChange('B');
$event.which ===101 &&fingerChange('Bm');
$event.which ===52 &&fingerChange('C');
$event.which ===114 &&fingerChange('Cm');
$event.which ===53 &&fingerChange('D');
$event.which ===116 &&fingerChange('Dm');
$event.which ===100 &&fingerChange('E');
$event.which ===99 &&fingerChange('Em');
$event.which ===102 &&fingerChange('F');
$event.which ===118 &&fingerChange('Fm');




">

<chord-test></chord-test>
<audio-test></audio-test>


<!--
  <ui-view></ui-view> -->









</body>

</html>
