<!DOCTYPE html>
<html ng-app="banjoman">
<head>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- ngAudio -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-audio/1.7.2/angular.audio.min.js"></script>
  <!-- createJS -->
  <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
  <!-- ngAnimate -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <!-- uiRouter -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
  <!-- Module -->
  <script type="text/javascript" src="../javascripts/module.js"></script>
  <!-- home directive -->
  <script src ="../components/home/home.js"></script>
  <!-- chord directive -->
  <script src ="../components/chords/chords.js"></script>
  <!-- services -->
  <script src ="../services/string_service.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="../stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  <!-- csshake -->
  <link rel="stylesheet" href="../bower_components/csshake/dist/csshake-little.min.css"/>
  <link rel="stylesheet" href="../bower_components/csshake/scss/csshake-little.scss"/>
<!-- quicksand-font -->
<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700|Open+Sans' rel='stylesheet' type='text/css' >
<script type="text/javascript">
var open = [['D','G','B','D'],['D#','G#','C','D#'],['E','A','C#','E'],['F','A#','D','F'],
['F#','B','D#','F#'],['G','C','E','G']]
var result = []
// console.log(open)
open.forEach(function(fret) {
  fret.forEach(function(note) {
    var test = ['D','F#','A']
    for (var i = 0 ; i<test.length; i++)
    if (note == test[i]){
      result.push(note)
    }
  })
})
//determining test..ie if($scope.chord == 'A', test = [A,C#,E])
console.log('result:',result)
var fret1 = ['D#','G#','C','D#']
var fret2 = ['E','A','C#','E']
var fret3 = ['F','A#','D','F']
var fret4 = ['F#','B','D#','F#']
var fret5 = ['G','C','E','G']


var result2 =[]
var fret = document.getElementsByClassName("fretboard");
console.log('fret',fret)
// var fretObj = fret[0];
// console.log('fretObj:',fretObj);
// var rows = fret.rows

//var cells = $rows.cells[0].innerText
// console.log('rows:',rows)
// console.log('cells:',$scope.cells)

// for(var j = 0; j < rows.length; j++){
//   // console.log(rows[j].cells)
//   var cells = rows[j].cells
//   console.log('cells',cells)
//
//   for (var k= 0; k < cells.length; k++) {
//     var cell = cells[k]
//     // cell.className += " high"
//     // console.log('cellText:',cell.innerText)
//   }
// }


</script>
</head>
<body>




  <ui-view></ui-view>









</body>

</html>
