<!DOCTYPE html>
<html ng-app="banjoman">
<head>
  <meta name="viewport" content="width=device-width">
  <!-- Angular -->
  <script src="../bower_components/angular/angular.min.js"></script>
  <link rel="stylesheet" href="../bower_components/angular/angular-csp.css" media="screen" title="no title" charset="utf-8">
  <!-- ngAudio -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-audio/1.7.2/angular.audio.min.js"></script>
  <!-- createJS -->
  <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
  <!-- ngAnimate -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <!-- uiRouter -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
  <!-- jquery -->
  <script src = "../bower_components/jquery/dist/jquery.min.js">
  </script>
  <!--normal-bootstrap -->
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"> </script>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <!-- Module -->
  <script type="text/javascript" src="../javascripts/module.js"></script>
  <!-- home directive -->
  <script src ="../components/home/home.js"></script>
  <!-- chord directive -->
  <script src ="../components/chords/chords.js"></script>
  <!-- selector directive -->
  <script src ="../components/selector/selector.js"></script>
  <!-- services -->
  <script src ="../services/string_service.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="../stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  <!-- csshake -->
  <link rel="stylesheet" href="../bower_components/csshake/dist/csshake-little.min.css"/>
  <link rel="stylesheet" href="../bower_components/csshake/scss/csshake-little.scss"/>
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700|Open+Sans' rel='stylesheet' type='text/css' >
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="col-md-12"
ng-keypress="
$event.which === 59 && play(tuning,chord,'one');
$event.which === 108 && play(tuning,chord,'two');
$event.which === 107 && play(tuning,chord,'three');
$event.which === 106 && play(tuning,chord,'four');
$event.which === 110 && play(tuning,chord,'five');
$event.which === 49 && chordChange('G');
$event.which === 113 && chordChange('Gm');
$event.which === 97 && chordChange('Gm7');
$event.which ===50 && chordChange('A');
$event.which ===119 &&chordChange('Am');
$event.which ===51 &&chordChange('B');
$event.which ===101 &&chordChange('Bm');
$event.which ===52 &&chordChange('C');
$event.which ===114 &&chordChange('Cm');
$event.which ===53 &&chordChange('D');
$event.which ===116 &&chordChange('Dm');
$event.which ===118 &&chordChange('E');
$event.which ===98 &&chordChange('Em');
$event.which ===122 &&chordChange('F');
$event.which ===120 &&chordChange('Fm');
$event.which ===115 &&chordChange('Am7');
$event.which ===104 &&chordChange('Em7');
$event.which ===103 &&chordChange('Dm7');
$event.which ===102 &&chordChange('Cm7');
$event.which ===100 &&chordChange('Bm7');
$event.which ===99 &&chordChange('Fm7');
$event.which ===13 &&strum(tuning,chord,'one','two','three','four');">

<div class="contianer container-fluid">
  <nav id="header" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img id="banjoman"alt="banjoman" ng-src="../images/thebanojman.gif">
        </a>
      </div>
      <span id="title">BANJONEER</span>
      <div class="nav navbar-nav navbar-right topBtns">
        <button class="innerBtn"type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#aboutModal">
          About
        </button>
        <button class="innerBtn"type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#keyboardModal">
          How to Play
        </button>
      </div>
    </div>
  </nav>
  <audio-test class=""id="neck"></audio-test>
  <chord-test class="col-md-3" id="fingerings"></chord-test>
  <selector tuning='tuning'chord="chord" obj="Obj"></selector>
</div>
<!-- Modal -->
<div class="modal fade" id="keyboardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h2 class="modal-title"  id="controlsTitle">Banjo Controls</h2>
      </div>
      <div class="modal-body">
        <h3><strong>Right Hand:</strong> Place fingers on the 'strings' keys.</h3>
        <h3><strong>Left Hand:</strong> Change chords.</h3>
        <h3><strong>Fun Fact:</strong> You can also hover over the banjo to listen to the current chord!</h3>

        <img class="col-md-12" id ="keyboard"ng-src="../images/keyboard.png" alt="keyboard" />

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h2 class="modal-title" id="aboutTitle">About</h2>
      </div>
      <div class="modal-body">
        <h3><strong>Banjoneer</strong> is a tuning and teaching tool that can help banjo players find chord fingerings in a variety of tunings</h3>
        <h3><strong>Why?:</strong> Banjo is a dynamic instrument and players can easily change the mood and voice of their instrument by playing in a different tuning. As a student, I found it difficult remember chord placements, so I wanted to create a quick reference chart that anyone can use.</h3>
        <h3><strong>How?:</strong> Select a tuning and a chord. The fretboard will update with finger placements.  Rinse and repeat!</h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>

</html>
