body {
  /*margin: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: quicksand;
  background-color: rgb(243, 243, 243);
  color:black;
  font-size:60px;
}


#string1{
  display: inline-flex;
  position:relative;
  height:45vh;
  width:1%;
  background-color: silver;
  margin: 22% auto;

  z-index: 100;
}
#string2
{
  display: inline-flex;
  position:relative;
  height:45vh;
  width:1%;
  background-color: silver;
  margin: 22% auto;

  z-index: 100;
}
#string3{
  display: inline-flex;
  position:relative;
  height:45vh;
  width:1%;
  background-color: silver;
  margin: 22% auto;

  z-index: 100;
}
#string4{
  display: inline-flex;
  position:relative;
  height:45vh;
  width:2%;
  background-color: silver;
  margin: 22% auto;

  z-index: 100;
}
#string5{
  display: inline-flex;
  position:relative;
  height:45vh;
  width:1%;
  background-color: silver;
  margin: 22% auto;

  z-index: 100;
}
#string6{
  height:85vh;
  display: inline-flex;
  position: relative;
}
#stringContainer{
  /*margin:0 auto;*/
  /*margin-left: 35.5%;*/
  position: relative;
  /*width:13%;*/
  width: auto;
  height:100vh;
  /*overflow: auto;*/
  background-image: url('../images/olbanjo.png');
  background-repeat: no-repeat;
}


tr td{
  border-right: 1px solid black;
  width:1%;
  height:100px;
}
#tableaux{
  width:20%;
}
.fret{
  border-bottom: 1px solid black;
}
tbody{
  border: 1px solid black;
}
