body {
  /*margin: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: quicksand;
  background-color: rgb(243, 243, 243);
  color:black;
  font-size:26px;
}


#string1{
  display: inline-block;
  position:relative;
  height:120vh;
  width:0.7%;
  background-color: rgba(171, 171, 171, 0.81);
  margin: 0 0.2%;
  z-index: 100;
}
#string2
{
  display: inline-block;
  position:relative;
  height:120vh;
  width:0.7%;
  background-color: rgba(171, 171, 171, 0.81);
  margin: 0 0.2%;

  z-index: 100;
}
#string3{
  display: inline-block;
  position:relative;
  height:120vh;
  width:0.7%;

  background-color: rgba(171, 171, 171, 0.81);
  margin: 0 0.2%;

  z-index: 100;
}
#string4{
  display: inline-block;
  position:relative;
  height:120vh;
  width:0.7%;
  background-color: rgba(171, 171, 171, 0.81);
  margin: 0 0.2%;

}
#string5{
  display: inline-block;
  position:relative;
  height:120vh;
  width:0.7%;
  background-color: rgba(171, 171, 171, 0.81);
  margin: 0 0.2%;

  z-index: 100;
}

.stringContainer{

  background-image: url('../images/neckyvector.png');
  background-repeat: no-repeat;
width:100%;
padding:21%;





}
.pad{

  background-color: yellow;
}
