<div ng-if="tuning == 'GMajor'"id="GMajor"class="tableContainer table">
  <table class="fretboard" ng-model="chord">

    <tbody>
      <tr class ='heady'>
        <td>D</td>
        <td>G</td>
        <td>B</td>
        <td>D</td>
      </tr>
      <tr  class="fret">
        <td>Eb</td>
        <td>Ab</td>
        <td>C</td>
        <td>Eb</td>
      </tr>
      <tr  class="fret">
        <td>E</td>
        <td>A</td>
        <td>C#</td>
        <td>E</td>
      </tr>
      <tr  class="fret">
        <td>F</td>
        <td>Bb</td>
        <td>D</td>
        <td>F</td>
      </tr>
      <tr  class="fret">
        <td>F#</td>
        <td>B</td>
        <td>Eb</td>
        <td>F#</td>
      </tr>
      <tr  class="fret">
        <td>G</td>
        <td>C</td>
        <td>E</td>
        <td>G</td>
      </tr>
    </tbody>
  </table>
  </div>
<div ng-if="tuning == 'Gm'" id="Gm"class="tableContainer table">
  <table class="fretboard" ng-model="chord">

    <tbody>
      <tr class ='heady'>
        <td>D</td>
        <td>G</td>
        <td>Bb</td>
        <td>D</td>
      </tr>
      <tr  class="fret">
        <td>Eb</td>
        <td>Ab</td>
        <td>B</td>
        <td>Eb</td>
      </tr>
      <tr  class="fret">
        <td>E</td>
        <td>A</td>
        <td>C</td>
        <td>E</td>
      </tr>
      <tr  class="fret">
        <td>F</td>
        <td>Bb</td>
        <td>C#</td>
        <td>F</td>
      </tr>
      <tr  class="fret">
        <td>F#</td>
        <td>B</td>
        <td>D</td>
        <td>F#</td>
      </tr>
      <tr  class="fret">
        <td>G</td>
        <td>C</td>
        <td>Eb</td>
        <td>G</td>
      </tr>
    </tbody>
  </table>
  </div>
<div ng-if="tuning == 'Gmodal'" id="Gmodal"class="tableContainer table">
  <table class="fretboard" ng-model="chord">
  <tbody>
      <tr class ='heady'>
        <td>D</td>
        <td>G</td>
        <td>C</td>
        <td>D</td>
      </tr>
      <tr  class="fret">
        <td>Eb</td>
        <td>Ab</td>
        <td>C#</td>
        <td>Eb</td>
      </tr>
      <tr  class="fret">
        <td>E</td>
        <td>A</td>
        <td>D</td>
        <td>E</td>
      </tr>
      <tr  class="fret">
        <td>F</td>
        <td>Bb</td>
        <td>Eb</td>
        <td>F</td>
      </tr>
      <tr  class="fret">
        <td>F#</td>
        <td>B</td>
        <td>E</td>
        <td>F#</td>
      </tr>
      <tr  class="fret">
        <td>G</td>
        <td>C</td>
        <td>F</td>
        <td>G</td>
      </tr>
    </tbody>
  </table>
  </div>
<div ng-if="tuning == 'DblC'" id="DblC"class="tableContainer table">
  <table class="fretboard" ng-model="chord">
  <tbody>
      <tr class ='heady'>
        <td>C</td>
        <td>G</td>
        <td>C</td>
        <td>D</td>
      </tr>
      <tr  class="fret">
        <td>C#</td>
        <td>Ab</td>
        <td>C#</td>
        <td>Eb</td>
      </tr>
      <tr  class="fret">
        <td>D</td>
        <td>A</td>
        <td>D</td>
        <td>E</td>
      </tr>
      <tr  class="fret">
        <td>Eb</td>
        <td>Bb</td>
        <td>Eb</td>
        <td>F</td>
      </tr>
      <tr  class="fret">
        <td>E</td>
        <td>B</td>
        <td>E</td>
        <td>F#</td>
      </tr>
      <tr  class="fret">
        <td>F</td>
        <td>C</td>
        <td>F</td>
        <td>G</td>
      </tr>
    </tbody>
  </table>
  </div>
<div ng-if="tuning == 'C'" id="C"class="tableContainer table">
  <table class="fretboard" ng-model="chord">
  <tbody>
      <tr class ='heady'>
        <td>E</td>
        <td>C</td>
        <td>G</td>
        <td>C</td>
      </tr>
      <tr  class="fret">
        <td>F</td>
        <td>C#</td>
        <td>Ab</td>
        <td>C#</td>
      </tr>
      <tr  class="fret">
        <td>F#</td>
        <td>D</td>
        <td>A</td>
        <td>D</td>
      </tr>
      <tr  class="fret">
        <td>G</td>
        <td>Eb</td>
        <td>Bb</td>
        <td>Eb</td>
      </tr>
      <tr  class="fret">
        <td>Ab</td>
        <td>E</td>
        <td>B</td>
        <td>E</td>
      </tr>
      <tr  class="fret">
        <td>A</td>
        <td>F</td>
        <td>C</td>
        <td>F</td>
      </tr>
    </tbody>
  </table>
  </div>
