<div class="tableContainer table table-responsive  col-md-3">
  <table class="fretboard" ng-model="chord">

    <tbody>
      <tr class ='heady'>
        <td>D</td>
        <td>G</td>
        <td>B</td>
        <td>D</td>
      </tr>
      <tr  class="fret">
        <td>Eb</td>
        <td>Ab</td>
        <td>C</td>
        <td>Eb</td>
      </tr>
      <tr  class="fret">
        <td>E</td>
        <td>A</td>
        <td>C#</td>
        <td>E</td>
      </tr>
      <tr  class="fret">
        <td>F</td>
        <td>Bb</td>
        <td>D</td>
        <td>F</td>
      </tr>
      <tr  class="fret">
        <td>F#</td>
        <td>B</td>
        <td>Eb</td>
        <td>F#</td>
      </tr>
      <tr  class="fret">
        <td>G</td>
        <td>C</td>
        <td>E</td>
        <td>G</td>
      </tr>
    </tbody>
  </table>
  </div>
