<table class="fretboard">

  <tbody>
    <tr>
      <td>D</td>
      <td>G</td>
      <td>B</td>
      <td>D</td>
    </tr>
    <tr>
      <td>D#</td>
      <td>G#</td>
      <td>C</td>
      <td>D#</td>
    </tr>
    <tr>
      <td>E</td>
      <td>A</td>
      <td>C#</td>
      <td>E</td>
    </tr>
    <tr>
      <td>F</td>
      <td>A#</td>
      <td>D</td>
      <td>F</td>
    </tr>
    <tr>
      <td>F#</td>
      <td>B</td>
      <td>D#</td>
      <td>F#</td>
    </tr>
    <tr>
      <td>G</td>
      <td>C</td>
      <td>E</td>
      <td>G</td>
    </tr>
  </tbody>
</table>
