<span id="selectors">
  <div class="col-md-4">
  <strong>Pick a tuning</strong>
    <select value='GMajor' ng-model='tuning' name="tuning" class="form-control selectpicker" id="tuning">

        <option class="fonty" value="GMajor">
          G major</option>
        <option value="Gm">G minor</option>
        <option value="C">Open C</option>
        <option value="DblC">Double C</option>
        <option value="Gmodal">Gmodal (sawmill)</option>


    </select>
<strong> Pick a chord</strong>
  <strong> <div style="font-size:50px"ng-bind='chord'></div></strong>
<table id="chordTable">
  <tbody>
    <tr>

      <td>
        <label>
          <input ng-click="chordChange(chord)"class="radio radio-inline"type="radio" ng-model="chord" value="A">
          A
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="B">
          B
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="C">
          C
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="D">
          D
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="E">
          E
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="F">
          F
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="G">
          G
        </label>
      </td>
    <tr>

      <td>
        <label>
          <input ng-click="chordChange(chord)"class="radio radio-inline"type="radio" ng-model="chord" value="Am">
          Am
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="Bm">
          Bm
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="Cm">
          Cm
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="Dm">
          Dm
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" type="radio" ng-model="chord" value="Em"autocomplete="off">

          Em
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="Fm">
        Fm
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="Gm">
          Gm
        </label>
      </td>
    </tr>
    <tr>

      <td>
        <label>
          <input ng-click="chordChange(chord)"class="radio radio-inline"type="radio" ng-model="chord" value="Am7">
          Am7
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="Bm7">
          Bm7
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="Cm7">
          Cm7
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="Dm7">
          Dm7
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="Em7">
          Em7
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="Fm7">
          Fm7
        </label>
      </td>
      <td>
        <label>
          <input ng-click="chordChange(chord)" class="radio radio-inline"type="radio" ng-model="chord" value="Gm7">
          Gm7
        </label>
      </td>
    </tr>
  </tbody>
</table>


</div>
</span>
</div>
